<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>617372984287-q4givdrb7g5k5739uo0s6bvi8ngc6cbr.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.617372984287-q4givdrb7g5k5739uo0s6bvi8ngc6cbr</string>
	<key>API_KEY</key>
	<string>AIzaSyDWcV-0FMRJVZwoo016tUj6AMGabTG7FBc</string>
	<key>GCM_SENDER_ID</key>
	<string>617372984287</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.weventa</string>
	<key>PROJECT_ID</key>
	<string>weventa-a0c23</string>
	<key>STORAGE_BUCKET</key>
	<string>weventa-a0c23.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:617372984287:ios:190e7dff9756ccbd359a6a</string>
</dict>
</plist>